#wrapper {
    margin: 0 auto;
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 1%;
    width: 60%;
    background: #fff;
}

main#todo-list {
    width: 94%;
    margin: 0 auto;
    margin-top: 2%;
}

article#container {
    border: 1px solid #353535;
    border-radius: 5px;
    padding: 0 1%;
}

header#main-Header p {
    padding: 2% 0;
    margin: 0;
    background: #353535;
    color: #e1e1e1;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

section#add-section {
    margin: 2% 0;
}

input[type = "text"] {
    height: 1.5em;
    padding: .2% .8%;
    border: 1px solid #FF4D01;
    border-radius: 4px;
    width: 200px;
}

#add-section-title {
    margin-left: 32%;
}

.add-item-form {
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 2%;
    padding-right: 1%;
}

input[type = "button"] {
    background: #FF4D01;
    color: #f5f5f5;
    height: 25px;
    padding: 0 1.2%;
    border: 1px solid #812401;
    margin-left: 1%;
    transition: all .15s ease-in-out;
    border-radius: 4px;
    width: 28px;
}

input[type = "button"]:hover {
    box-shadow: 1px 3px 5px #989898;
    cursor: pointer;
}

#add-section-button {
    width: 100px;
}

.section-main {
    margin: 2% 1%;
    border: 1px solid black;
}

.section-header {
    padding-right: 2.5%;
    text-align: right;
    font-size: 20px;
}

.section-title {
    margin: 1%
}

.section-body {
    margin: 1% 2% 1% 0;
}

.item-body-text {
    display: inline-block;
    border-bottom: 1px solid black;
    width: 95%;
    vertical-align: top;
    padding: .9% 0;
    margin: -1% 0 0 1%;
}

input[type='checkbox'] {
    height: 18px;
    width: 18px;
    margin: 0;
}

label {
    margin-left: 5px;
    font-size: 17px;
}

li {
    list-style: none;
    margin: 1% 0;
}

.section-body > li:last-child > .item-body-text {
    border-bottom: none;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}